@model Model.t_ChargeStandard
<div class="modal-body">
    <div class="col-md-4"></div>
    <div class="">
        <h3>
            <p>
                <span>编号：</span>
                <span>@Model.Id</span>
            </p>
            <p>
                <span>@Html.DisplayNameFor(c => c.CarType)：</span>
                <span>@Model.CarType</span>
            </p>
            <p>
                <span>@Html.DisplayNameFor(c => c.WeightMin)：</span>
                <span>@Model.WeightMin</span>
            </p>
            <p>
                <span>@Html.DisplayNameFor(c => c.WeightMax)：</span>
                <span>@Model.WeightMax</span>
            </p>
            <p>
                <span>@Html.DisplayNameFor(c => c.Ratio)：</span>
                <span>@Model.Ratio</span>
            </p>
            <p>
                <span>@Html.DisplayNameFor(c => c.Remark)：</span>
                <span>@Model.Remark</span>
            </p>
        </h3>

    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
    @*<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "User", new { Id =@Model.Id })'">编辑</button>*@
    <button type="submit" class="btn btn-primary" onclick="location.href ='@Url.Action("Del", new { Id =@Model.Id })'">删除</button>
</div>
